body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(#090262, #6405b8);
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 4rem 2rem;
}

.header {
  margin-top: 8rem;
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 3.5rem;
}

.form {
  max-width: 600px;
  margin: 4rem auto;
  display: flex;
}

.name-input {
  flex: 1;
  margin-right: 0.5rem;
}

.name-input,
.submit-button {
  border: none;
  /* border: 1px solid #c4c8cb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
  border-radius: 1rem;
  padding: 1rem;
}

.submit-button {
  padding: 0rem 2rem;
  cursor: pointer;
  transition: 0.1s;
  margin-left: 0.5rem;
  background: #007bff;
  color: white;
}

.submit-button:hover {
  background: #0d6dd4;
}

.loading-message {
  text-align: center;
  color: white;
}

.feed {
  max-width: 600px;
  margin: 4rem auto;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tweet {
  font-family: "Segoe UI", sans-serif;
  border-radius: 16px;
  padding: 1.5rem;
  background-color: white;
  color: #14171a;
  border: none;
  /* border: 1px solid #c4c8cb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); */
}

.tweet-header {
  margin-bottom: 0.75rem;
  display: flex;
}

.tweet-pfp {
  height: 40px;
  width: 40px;
  margin-right: 0.75rem;
  background: url(https://upload.wikimedia.org/wikipedia/commons/0/03/Twitter_default_profile_400x400.png)
    no-repeat center center;
  background-size: cover;
  border-radius: 100%;
}

.tweet-name {
  display: flex;
  flex-direction: column;
}

.display-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: inline-flex;
  align-items: center;
}

.tweet-text {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 1rem 0rem;
}

.timestamp,
.username {
  font-size: 0.85rem;
  color: #657786;
}

.blue-check {
  margin-left: 0.5rem;
  flex-shrink: 0;
}

.footer {
  height: 5rem;
}
